/* .searchButton {
  border: solid 1px black;
  padding: 10px;
  margin: 10px;
}

.buttonDiv {
  margin: 20px;
} */
* {
  font-family: 'Roboto', sans-serif;
  background-color: #e2dfdf;
}

.container {
  padding: 10px;
}

.teal {
  color: #319e77;
}

.searchSelect {
  max-width: 40%;
  justify-content: space-around;
  align-items: center;
}

.mediumSelect {
  justify-content: space-around;
  align-items: center;
}

.pastOrPresent {
  justify-content: space-around;
  align-items: center;
  min-width: 450px;
}

.seasonSearch {
  /* margin-bottom: 90.44px; */
}

.series50 {
  margin-bottom: 40px;
}

label {
  font-weight: bold;
}

.labelSearch {
  margin-right: 10px;
}

.searchRow {
  margin-bottom: 30px;
}

#searchBox {
  margin-right: 10px;
  background-color: white;
}

button {
  background-color: #319e77;
  border-radius: 5px;
  border: none;
  color: white;
  width: 80px;
  height: 25px;
}

.termButton {
  width: 100px;
}

.seasonButton {
  width: 100px;
}
